<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Premier template EJS</title>
  </head>
  <body>
    <h1>Bienvenue</h1>
    <form action="/login" method="post">
      <label for="Username">Username: *</label><br />
      <input
        type="text"
        required
        id="Username"
        name="username"
        placeholder="Entrer le nom d'utilisateur"
      /><br />
      <label for="Password">Password: *</label><br />
      <input
        type="password"
        required
        id="Password"
        name="password"
        placeholder="Entrer le mot de passe"
      /><br />
      <input type="submit" value="Submit" />
    </form>

    <p>
      Je n'ai pas de compte!
      <a href="http://localhost:8080/register">Créer un compte</a>
    </p>
  </body>
</html>
