<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Premier template EJS</title>
  </head>
  <body>
    <h1>Bonjour <%= name %>!</h1>
    <form action="post">
      <label for="Username">Username:</label><br />
      <input type="text" id="Username" name="Username" /><br />
      <label for="Password">Password:</label><br />
      <input type="text" id="Password" name="Password" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
