<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/register.css" />
    <title>Inscription</title>
  </head>
  <body>
    <h1>Bienvenue</h1>
    <form action="/register" method="post" onsubmit="return validateForm()">
      <label for="username">Nom d'utilisateur: *</label><br />
      <input
        type="text"
        required
        id="username"
        name="username"
        placeholder="Entrer le nom d'utilisateur"
      /><br />

      <label for="password">Mot de passe: *</label><br />
      <input
        type="password"
        required
        id="password"
        name="password"
        placeholder="Entrer le mot de passe"
      /><br />

      <label for="confirmationpassword">Confirmer le mot de passe: *</label
      ><br />
      <input
        type="password"
        required
        id="confirmationpassword"
        name="confirmationpassword"
        placeholder="Entrer à nouveau le mot de passe"
      /><br />

      <input type="submit" value="Créer" />
    </form>

    <p>
      <a href="http://localhost:8080/user/login">Se connecter!</a>
    </p>

    <script>
      function validateForm() {
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById(
          "confirmationpassword"
        ).value;

        if (password !== confirmPassword) {
          alert("Les mots de passe ne correspondent pas !");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
